---
import Layout from '../../layouts/Layout.astro';
import { getProducts } from '../../functions/products';
const products = await getProducts();
---

<Layout>
	<h1>Carta</h1>
	<p>Bienvenido a la carta de nuestro restaurante. Aquí encontrarás una selección de nuestros platos más populares y deliciosos.</p>
<p>Explora nuestras categorías y descubre tus próximos favoritos culinarios.</p>
<ul>
  {products.map((product) => (
    <li key={product.id}>
      <h2>{product.name}</h2>
      <p>{product.description}</p>
      <p>Precio: ${product.price.toFixed(2)}</p>
    </li>
  ))}

</ul>
<ul>
  <li>Entrantes</li>
  <li>Platos principales</li>
  <li>Postres</li>
</ul>
<p>¡Buen provecho!</p>
</Layout>