---
import Layout from '../../layouts/Layout.astro';
---
<Layout>
	<h1>Pide a Domicilio</h1>
	<p>Bienvenido a nuestro servicio de pedidos a domicilio. Aquí puedes explorar nuestro menú y hacer tu pedido para que te lo llevemos directamente a tu puerta.</p>
</Layout>